@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Source Sans Pro";
}

body {
  background-color: #f4f4f4;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "blurb main";

  grid-template-rows: 64px 2fr 1fr;
}

/* HEADER */

#header {
  grid-area: header;
  display: flex;
  height: 64px;
  background-color: #fff;
}
#header .main_title {
  display: flex;
}

#header .main_title a {
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 2.8px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
  padding: 21px 30px;
  border-right: 1px solid #eeeeee;
}

#header .links {
  display: flex;
  align-items: center;
}

#header .links .links_item:not(:last-of-type) {
  border-right: 1px solid #eeeeee;
}

#header .links .links_item a {
  font: normal normal normal 14px/18px Source Sans Pro;
  letter-spacing: 4.2px;
  color: #828282;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px 0 15px;
}

#header .links .links_item a:hover {
  color: #ff4e00;
  transition: 0.2s ease-in;
}

/* Header - Menu Hamburguer */

#header .main {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  width: 70px;
  border-left: 1px solid #eeeeee;
  color: #fff;
}
#header .main .menu {
  display: flex;
}

#header .main .fa-bars {
  border-top: 3px solid #aaaaaa;
  border-bottom: 3px solid #aaaaaa;
  display: inline-block;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  right: 20px;
  width: 30px;
  color: transparent;
}
#header .main .fa-bars::before {
  border-top: 3px solid #aaaaaa;
  content: "";
  left: 0;
  position: absolute;
  top: 6px;
  width: 100%;
}

/* MAIN */

#main {
  grid-area: main;
  margin-left: 29px;
}

/* PRINCIPAL - POSTS */

#main .post {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 954px;
  background-color: #fff;
  margin-top: 46px;
}

#main .post .header {
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 60px;
  margin-top: 60px;
}

#main .post .title {
  max-width: 645px;
}

#main .post .header .title .secondary_title a {
  font: normal normal 700 28px/46px Source Sans Pro;
  text-align: left;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 9.24px;
}

#main .post .header .title .paragraph {
  font: normal normal normal 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #8e8e8e;
  text-transform: uppercase;
  margin-top: 25px;
}

#main .post .header .meta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

#main .post .header .meta .published {
  font: normal normal 700 14px/20px Source Sans Pro;
  letter-spacing: 1.68px;
  color: #3c3b3b;
}

#main .post .header .meta .author {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #8e8e8e;
  font: normal normal 400 12px/20px Source Sans Pro;
  margin-top: 15px;
}

#main .post .header .meta img {
  border-radius: 50%;
  margin-left: 15px;
}

#main .post a {
  margin: 0 auto 60px auto;
}

#main .post .image img {
  width: 100%;
}

#main .post > .paragraph {
  max-width: 954px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
  text-align: left;
  font: normal normal normal 16px/30px Source Sans Pro;
  letter-spacing: 1.28px;
  color: #3c3b3b;
  margin-bottom: 65px;
}

#main .post .footer {
  padding-left: 55px;
  padding-right: 55px;
}

#main .post .footer .button {
  display: inline-block;
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #eeeeee;
  padding: 20px;
  transition: 0.3s ease-out;
}

#main .post .footer .button:hover {
  background-color: #eeeeee;
  color: #ff4e00;
  border: 1px solid #3c3b3b;
  transition: 0.2s ease-in;
}

/* PAGINATION - BUTTONS */

.pagination {
  margin: 50px auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.next {
  width: 246px;
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #d5d5d5;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e1e1e1;
  padding: 20px;
  transition: 0.3s ease-out;
  margin-right: 20px;
  cursor: default;
}

.previous {
  width: 246px;
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e1e1e1;
  padding: 20px;
  transition: 0.3s ease-out;
}
.previous:hover {
  background-color: #eeeeee;
  color: #ff4e00;
  border: 1px solid #3c3b3b;
  transition: 0.2s ease-in;
}

/* MENU LATERAL - POSTS */

#sidebar {
  grid-area: sidebar;
  margin-right: 29px;
}

.mini-posts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.mini-posts .mini-post {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 46px;
  background-color: #fff;
}

.mini-posts .mini-post .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
}

.mini-posts .mini-post .header span.tertiary_title {
  padding: 15px 0 0 20px;
}

.mini-posts .mini-post .header .tertiary_title a {
  font: normal normal 600 14px/16px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
}

.mini-posts .mini-post .header .published {
  font: normal normal normal 12px/20px Source Sans Pro;
  letter-spacing: 1.44px;
  color: #808080;
  text-transform: uppercase;
  padding: 0 15px;
}

.mini-posts .mini-post .header .author img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin: 0 15px 15px 0;
}

/* POSTS LIST */

.posts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.posts span > div {
  border-bottom: 1px dashed #dbdbdb;
  max-width: 365px;
}
.posts span div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px 0;
}

.posts span div.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts span .header .tertiary_title {
  margin-bottom: 10px;
}
.posts span .header .tertiary_title a {
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.36px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
}

.posts span .header .published {
  font: normal normal normal 12px/20px Source Sans Pro;
  letter-spacing: 1.44px;
  color: #808080;
  text-transform: uppercase;
}

.posts span div .image {
  padding: 0 25px;
}

.posts span div .image img {
  width: 70px;
  height: 70px;
}

/* ABOUT */

#sidebar .blurb {
  grid-area: blurb;
  max-width: 365px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-self: flex-end;
  margin: 40px 0 0 auto;
}

.blurb span.secondary_title {
  font: normal normal bold 16px/20px Source Sans Pro;
  letter-spacing: 3.84px;
  color: #3c3b3b;
  text-transform: uppercase;
}

.blurb .paragraph {
  font: normal normal 400 16px/30px Source Sans Pro;
  color: #808080;
  margin: 25px 0 30px 0;
}

.blurb .actions {
  background: #f4f4f4 0% 0% no-repeat padding-box;
}

.blurb .actions .button {
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e1e1e1;
  padding: 20px;
  transition: 0.3s ease-out;
}

.blurb .actions .button:hover {
  background-color: #eeeeee;
  color: #ff4e00;
  border: 1px solid #3c3b3b;
  transition: 0.2s ease-in;
}

/* RESPONSIVO */

/* TABLET */

@media screen and (min-width: 441px) and (max-width: 1200px) {
  #wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "blurb";

    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
  }

  #header .main_title a {
    border: 0;
  }

  #header .links div {
    display: none;
  }

  #main {
    margin: auto;
  }

  #main .post .header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #main .post .header .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #main .post .header .meta {
    margin-left: auto;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #sidebar .mini-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sidebar .mini-post {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
  }

  #sidebar .mini-posts .mini-post .header .tertiary_title a {
    letter-spacing: 2px;
  }

  #sidebar .posts {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #sidebar .posts span:nth-last-child(2) div {
    padding-bottom: 30px;
    margin-left: 10px;
  }
  #sidebar .posts span:nth-last-child(3) div {
    margin-right: 10px;
  }
  #sidebar .posts span:nth-last-child(4) div {
    margin-left: 10px;
  }
  #sidebar .posts span:nth-last-child(5) div {
    margin-right: 10px;
  }

  #sidebar .blurb {
    justify-self: flex-start;
    max-width: 100%;
    margin: 35px auto 70px 40px;
  }

  #sidebar .blurb .paragraph {
    text-align: left;
    margin: 25px 0 30px 0;
  }
}

/* MOBILE */

@media screen and (max-width: 440px) {
  #wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "blurb";

    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
  }

  #header .main_title a {
    border: 0;
  }

  #header .links div {
    display: none;
  }

  #main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  #main .post .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 60 auto;
    padding: 0 auto;
    text-align: center;
  }

  #main .post .header .title .secondary_title {
    font: normal normal 900 20px/28px Source Sans Pro;
    letter-spacing: 6.6px;
    color: #3c3b3b;
  }
  #main .post .header .title > .paragraph {
    font: normal normal normal 14px/20px Source Sans Pro;
    letter-spacing: 3.92px;
  }
  #main .post .header .meta .published {
    font: normal normal 900 16px/20px Source Sans Pro;
    letter-spacing: 1.68px;
    color: #3c3b3b;
  }

  #main .post div.paragraph {
    padding: 0 20px;
    text-align: left;
    font: normal normal normal 16px/30px Source Sans Pro;
    letter-spacing: 1.28px;
    color: #3c3b3b;
  }

  #main .post .footer {
    padding: 0;
    margin: 0 auto;
  }

  .pagination {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .pagination span {
    min-width: 100%;
  }
  .pagination span:first-child {
    margin-top: 25px;
  }

  .pagination span a {
    display: block;
    margin: 0;
  }

  .pagination .next {
    text-align: center;
    font: normal normal bold 14px/20px Source Sans Pro;
    letter-spacing: 3.92px;
  }

  .pagination .previous {
    text-align: center;
    font: normal normal bold 14px/20px Source Sans Pro;
    letter-spacing: 3.92px;
    color: #3c3b3b;
  }

  #sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  #sidebar .posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 375px;
  }
  #sidebar .posts span div .image {
    padding: 0 25px 0 0;
  }

  #sidebar .blurb {
    margin: 40px auto 138px auto;
    padding: 10px 30px 10px 20px;
  }

  #sidebar .blurb .paragraph {
    margin: 25px 0 35px 0;
    padding-right: 20px;
  }
}
